#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Every 3 days at 7 a.m.
    - cron: '0 7 */3 * *'

permissions: { }

jobs:
  Lint:
    uses: bytemare/workflows/.github/workflows/lint.yaml@3bdedbc011566debb865c20fcd12e7b395677529
    permissions:
      contents: read
      packages: read
      statuses: write
    with:
      # gofmt
      gofmt: true
      # Super-Linter
      super-linter: true
      super-linter-validate-all-codebase: true
      super-linter-enabled-linters: |
        BASH,BASH_EXEC,VALIDATE_EDITORCONFIG,ENV,GITHUB_ACTIONS,GO_MODULES,MARKDOWN,YAML
      super-linter-rules-path: .github

  Governance:
    uses: bytemare/workflows/.github/workflows/governance.yaml@3bdedbc011566debb865c20fcd12e7b395677529
    permissions:
      contents: read
      security-events: write
      id-token: write
      actions: read
      checks: read
      attestations: read
      deployments: read
      issues: read
      discussions: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
      models: read # permissions:disable-line
      artifact-metadata: read # permissions:disable-line
    with:
      # Dependency Review
      dependency-review: true
      # License Check
      license-check: true
      # Do Not Submit
      do-not-submit: true
      # OpenSSF Scorecard
      scorecard: true
      # Codecov upload
      codecov: true
      codecov-coverage-command: "go test -v -race -covermode=atomic -coverpkg=./... -coverprofile=coverage.out ./..."
      codecov-coverage-setup-go: true
    secrets:
      # OpenSSF Scorecard token
      scorecard: ${{ secrets.SCORECARD_READ_TOKEN }}
      # Codecov token
      codecov: ${{ secrets.CODECOV_TOKEN }}

  SAST:
    uses: bytemare/workflows/.github/workflows/sast.yaml@3bdedbc011566debb865c20fcd12e7b395677529
    permissions:
      contents: read
      security-events: write
      actions: read
    with:
      # Semgrep
      semgrep: true
      # CodeQL
      codeql: true
      codeql-language: go
      # SonarQube
      sonarqube: true
      sonarqube-configuration: .github/sonar-project.properties
      sonarqube-coverage: true
      sonarqube-coverage-command: "go test -v -race -covermode=atomic -coverpkg=./... -coverprofile=coverage.out ./..."
      sonarqube-coverage-setup-go: true
      # Govulncheck
      govulncheck: true
      # Gitleaks
      gitleaks: false
    secrets:
      # Semgrep token
      semgrep: ${{ secrets.SEMGREP_APP_TOKEN }}
      # SonarQube token
      sonarqube: ${{ secrets.SONAR_TOKEN }}
