#
# SPDX-License-Identifier: MIT
#
# Copyright (C) 2025 Daniel Bourdrez. All Rights Reserved.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree or at
# https://spdx.org/licenses/MIT.html
#

---

name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: { }

jobs:
  Test:
    strategy:
      fail-fast: false
      matrix:
        go: ['1.25', '1.24', '1.23']
    uses: bytemare/workflows/.github/workflows/test-go.yaml@8abce840140ebad3f8b6f16fb4cc8838e64a476a
    with:
      version: ${{ matrix.go }}
